doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        block content

        script(src='/lib/jquery/dist/jquery.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.js')